.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 2rem;
  background: #222831;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  img {
    display: flex;
    width: 2.3rem !important;
    height: 2.3rem !important;
    object-fit: cover;
  }

  a {
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;
  }
}

.headerNav {
  display: flex;
  gap: 1rem;
}